@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@0;1&display=swap');

html {
  background: #333;
  height: 100%;
  font-family: 'Merriweather', serif;
}

html, body {
  padding: 0;
  margin: 0;
}

.mbxmap {
  position: fixed !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

a {
  color: #ca4747;
}

a:visited {
  color: #ca4747;
}

p {
  margin-top: 2em;
  margin-bottom: 2em;
}

.article_container {
  margin: 60vh auto 2em auto;
  max-width: 640px;
  background-color: white;
  color: #111;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 0 40px rgb(0 0 0 / 30%);
}

.article_container.is-front {
  margin-top: 10vh;
}

.article_header {
  padding: 30px;
  background-color: #ca4747;
  color: white;
}

.article_header a {
  color: inherit;
}

.article_title {
  font-weight: 600;
}

.article_body {
  padding: 30px;
  margin-bottom: 50px;
  line-height: 1.6;
}

.article_body img {
  margin-left: -30px;
  margin-right: -30px;
  max-width: calc(100% + 60px);
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  pointer-events: none;
  /*opacity: 0;*/
  /*background: rgba(0,0,0,0.5);*/
  /*transition: opacity 200ms ease-in-out;*/
}

.overlay-isActive {
  /*opacity: 1;*/
  pointer-events: all;
}

@media (min-width:1200px) {
  .mbxmap {
    left: 640px;
  }

  .article_container {
    margin: 0 0 2em 0;
  }

  .article_container.is-front {
    margin-top: 0;
  }
}
