<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>{{title}}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<base href="{{{baseUrl}}}">
<link rel="stylesheet" href="styles.css">
<link rel="stylesheet" href="mapbox-gl.css">

<meta property="og:type" content="article">
<meta name="twitter:card" content="summary_large_image">

<meta property="og:image" content="{{ogImage}}">
<meta name="twitter:image:src" content="{{ogImage}}">

<meta property="og:title" content="{{pageTitle}}">
<meta name="twitter:title" content="{{pageTitle}}">

<meta property="og:description" content="Trains and Trails">
<meta property="description" content="Trains and Trails">
<meta name="twitter:description" content="Trains and Trails">

<meta name="twitter:creator" content="rickyreusser">

</head>
<body>
<div id="root">{{{content}}}</div>
<button id="jumper"></button>
<script>
const params = new URLSearchParams(window.location.hash.replace(/^#/, ''));
if (params.has('pixel_ratio') && !isNaN(parseFloat(params.get('pixel_ratio')))) {
  const pixelRatio = parseFloat(params.get('pixel_ratio'));
  localStorage.setItem('pixel_ratio', pixelRatio);
  window.devicePixelRatio = pixelRatio;
} else {
  if (localStorage.getItem('pixel_ratio')) {
    window.devicePixelRatio = localStorage.getItem('pixel_ratio');
  } else {
    window.devicePixelRatio = Math.min(1.5, window.devicePixelRatio);
  }
}
window.page={{{page}}};
window.manifest={{{manifest}}};
</script>
<script src="mapbox-gl.js" defer></script>
<script src="d3.min.js" defer></script>
<script src="bundle.js" defer></script>

<script>
const btn = document.getElementById('jumper');
btn.addEventListener('click', function () {
  window.scrollTo(0, 0);
});
window.addEventListener('scroll', onScroll);
onScroll();
function onScroll () {
  if (window.scrollY > 0) {
    btn.classList.add('is-available');
  } else {
    btn.classList.remove('is-available');
  }
}
</script>
</body>
</html>
