<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>{{title}}</title>
<meta charset="utf-8">
<base href="{{{baseUrl}}}">
<link rel="stylesheet" href="styles.css">
<link rel="stylesheet" href="mapbox-gl.css">
</head>
<body>
<div id="root">{{{content}}}</div>
<script defer>
window.devicePixelRatio=Math.min(window.devicePixelRatio, 1.5);
window.page={{{page}}};
window.manifest={{{manifest}}};
</script>
<script src="mapbox-gl.js" defer></script>
<script src="d3.min.js" defer></script>
<script src="bundle.js" defer></script>
</body>
</html>
