@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@0;1&display=swap');

html {
  background: #333;
  height: 100%;
  font-family: 'Merriweather', serif;
}

html, body {
  padding: 0;
  margin: 0;
}

.mbxmap {
  position: fixed !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

a {
  color: #ca4747;
}

a:visited {
  color: #ca4747;
}

.article_container {
  max-width: 520px;
  margin: 70vh auto 100px 20px;
  color: #111;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

.article_body {
  margin-bottom: 50px;
  line-height: 1.6;
}
.article_body img {
  display: block;
  max-width: 100%;
}
.article_body p,
.article_body ul,
.article_body table
{
  background-color: white;
  padding: 20px;
  margin-top: 0;
  margin-bottom: 0;
}
.article_body table {
  width: 100%;
  padding: 0 60px;
}
.article_body table time {
  font-variant-numeric: tabular-nums;
}
.article_body ul {
  padding-left: 60px;
  padding-top: 0;
}
.article_body:before,
.article_body:after {
  content: '';
  display: block;
  height: 20px;
  width: 100%;
  background-color: white;
}
.article_body p + p {
  margin-top: -20px;
}

/*
.article_spacer:before,
.article_spacer:after {
  content: '';
  display: block;
  height: 15px;
  background-color: white;
  position: absolute;
  left: 0;
  right: 0;
}

.article_spacer:before { top: 0; }
.article_spacer:after { bottom: 0; }
*/

.article_container.is-front {
  margin-top: 10vh;
}

.article_header {
  padding: 30px;
  background-color: #ca4747;
  color: white;
}

.article_header a {
  color: inherit;
}

.article_title {
  font-weight: 600;
}

.article_spacer {
  height: 100vh;
  position: relative;
}
.article_spacer-p25 { height: 25vh; }
.article_spacer-p5 { height: 50vh; }
.article_spacer-p75 { height: 75vh; }
.article_spacer-2 { height: 200vh; }
.article_spacer-3 { height: 300vh; }
.article_spacer-4 { height: 400vh; }
.article_spacer-5 { height: 500vh; }
.article_spacer-6 { height: 600vh; }
.article_spacer-7 { height: 700vh; }
.article_spacer-8 { height: 800vh; }
.article_spacer-9 { height: 900vh; }
.article_spacer-10 { height: 1000vh; }

.ratings {
  background-color: white;
  padding: 30px 30px 0 30px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width:640px) {
  .article_container {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width:800px) {
  .article_container {
    margin-left: 20px;
    margin-right: 20px;
  }

  .article_container.is-front {
    margin-top: 0;
  }
}
