@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,900;1,400&display=swap');

html {
  background: #333;
  height: 100%;
  font-family: 'Merriweather', sans-serif;
}

html, body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.mbxmap {
  position: fixed !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

a {
  color: #ca4747;
}

a:visited {
  color: #ca4747;
}

.articleContainer {
  max-width: 520px;
  margin: 70vh auto 100px 0;
  color: #111;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  padding-bottom: 75vh;
}

.articleContainer.is-home {
  padding-bottom: 15px;
}

.articleContainer.is-front {
  margin-top: 10vh;
  padding-bottom: 15px;
}

.articleContainer h1,
.articleContainer h2 {
  font-weight: 400;
}

.articleContent {
  margin: auto;
  padding: 15px;
  background-color: white;
}

.articleContent--introduction {
  margin-bottom: 50px;
}

.articleCard {
  padding: 15px 0;
  position: relative;
}

.articleCard:before {
  content: '';
  left: 15px;
  width: 20px;
  top: 0;
  bottom: 0;
  display: block;
  position: absolute;
  background-color: red;
}

.articleCard-metro:before {
  background-color: #3388ff;
}

.articleCard-bus:before {
  background-color: #ba45b6;
}

.articleCard-foot:before {
  background-color: #5cb83b;
}

.articleCard p:first-child {
  margin-top: 0;
}
.articleCard p:last-child {
  margin-bottom: 0;
}

.articleCard-metro h2 {
  color: #3388ff;
}

.articleCard-bus h2 {
  color: #ba45b6;
}

.articleCard-foot h2 {
  color: #5cb83b;
}

.articleCard_content {
  background-color: white;
  padding: 15px;
  position: relative;
  border-radius: 10px;
  margin: 0 15px 0 50px;
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
  top: -18px;
  min-height: 35px;
}

.articleCard_station {
  color: white;
  position: relative;
  border-radius: 10px;
  margin: 0 15px 0 50px;
  top: -16px;
}

.articleCard_station h2 {
  color: inherit;
  font-size: 1.3em;
  margin: 0;
  text-shadow: 0 0 4px rgb(0,0,0), 0 0 3px rgb(0,0,0);
}

.articleCard_circleCutoff {
  position: absolute;
  left: 15px;
  bottom: -5px;
}

.articleCard-metro .articleCard_circleCutoff {
  fill: #3388ff;
}

.articleCard-bus .articleCard_circleCutoff{
  fill: #ba45b6;
}

.articleCard-foot .articleCard_circleCutoff{
  fill: #5cb83b;
}

.articleCard_content:before {
  content: '';
  position: absolute;
  top: 3px;
  left: -14px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 17px 17px 17px 0;
  border-color: transparent white transparent transparent;
}

.articleCard-start:before {
  top: 7px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.articleCard-terminus:before {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  bottom: auto;
  height: 27px;
}


.articleCard-start:after,
.articleCard-terminus:after {
  content: '';
  position: absolute;
  border-radius: 10px;
  width: 12px;
  height: 12px;
  top: 11px;
  left: 19px;
  background-color: white;
}

.articleBody {
  line-height: 1.6;
  position: relative;
  /*overflow: hidden;*/
  /*padding-bottom: 90vh;*/
}

.articleBody:before {
  content: '';
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: -50px;
  width: 150px;
  background-color: rgba(20,20,20,0.5);
  filter: blur(50px);
}

.articleContent,
.articleCard,
.articleHeader {
  position: relative;
  z-index: 1;
}

.articleBody img {
  display: block;
  max-width: 100%;
}
.articleBody table {
  width: 100%;
  padding: 0 40px;
}
.articleBody table time {
  font-variant-numeric: tabular-nums;
}
.articleBody ul {
  padding-left: 60px;
  padding-top: 0;
}


.articleCards {
  top: 20px;
}

.articleCards_marker {
  position: sticky;
  top: 10vh;
  z-index: 10;
  margin-bottom: 64px;
}
.articleCards_markerInner {
  position: relative;
  left: 25px;
  top: 17px;
  width: 50px;
}
.articleCards_markerInner:before,
.articleCards_markerInner:after {
  content: '';
  position: absolute;
  display: block;
  border-radius: 50px;
  transform: translate(-50%,-50%);
}
.articleCards_markerInner:before {
  width: 26px;
  height: 26px;
  background-color: #3388ff;
  transition: background-color 0.2s ease-in-out;
}

body[data-feature-mode="foot"] .articleCards_markerInner:before {
  background-color: #5cb83b;
}

body[data-feature-mode="metro"] .articleCards_markerInner:before {
  background-color: #3388ff;
}

body[data-feature-mode="bus"] .articleCards_markerInner:before {
  background-color: #ba45b6;
}

.articleCard-foot:before {
}
.articleCards_markerInner:after {
  width: 16px;
  height: 16px;
  background-color: white;
}

.articleHeader {
  padding: 30px;
  background-color: #ca4747;
  color: white;
}

.articleHeader a {
  color: inherit;
}

.article_title {
  font-weight: 600;
}

.article_spacer {
  height: 100vh;
  position: relative;
}
.article_spacer-p25 { height: 25vh; }
.article_spacer-p5 { height: 50vh; }
.article_spacer-p75 { height: 75vh; }
.article_spacer-2 { height: 200vh; }
.article_spacer-3 { height: 300vh; }
.article_spacer-4 { height: 400vh; }
.article_spacer-5 { height: 500vh; }
.article_spacer-6 { height: 600vh; }
.article_spacer-7 { height: 700vh; }
.article_spacer-8 { height: 800vh; }
.article_spacer-9 { height: 900vh; }
.article_spacer-10 { height: 1000vh; }

.ratings {
  background-color: white;
  padding: 30px 30px 0 30px;
  margin-top: 0;
  margin-bottom: 0;
}

#elevation-plot {
  pointer-events: none;
  position: fixed;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  z-index: 10;
  border-top: 1px solid #888;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  padding-top: 3px;
}

#elevation-plot:after {
  content: 'mile →';
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: white;
  font-size: 0.8em;
  font-family: sans-serif;
}

#elevation-plot:before {
  content: 'feet ↑';
  position: absolute;
  top: 0px;
  left: 5px;
  font-size: 0.8em;
  font-family: sans-serif;
}

.elevation-marker {
  position: absolute;
  transform: translate(0,0);
}

.elevation-marker:after {
  display: block;
  position: absolute;
  content: '';
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: white;
  transform: translate(-50%,-50%);
}

.elevation-marker:before {
  display: block;
  position: absolute;
  content: '';
  width: 13px;
  height: 13px;
  border-radius: 100%;
  background-color: #5cb83b;
  transform: translate(-50%,-50%);
}

body[data-feature-mode="foot"] #elevation-plot {
  opacity: 1;
}

.axis line,
.axis text {
  color: black;
}
.axis path {
  stroke: black;
}
.grid .tick {
  opacity: 0.1;
}
.grid .domain {
  display: none;
}

#elevation-plot {
  background-color: white;
}

#jumper {
  padding: 0;
  position: fixed;
  top: 45px;
  width: 50px;
  max-width: 50px;
  height: 50px;
  right: 20px;
  background-color: #eee;
  z-index: 100;
  border-radius: 100px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: 900;
  color: #888;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
  font-family: inherit;
  border: none;
}
#jumper.is-available {
  pointer-events: all;
  opacity: 1;
  margin: 0;
}

#jumper:after {
  content: '↑';
}

@media (max-width:640px) {
  .articleContainer {
    margin-left: 0;
    margin-right: 0;
  }

  .articleCard_content {
    margin-bottom: 900px;
  }

  .articleBody:before {
    left: -125px;
  }

  .articleBody table {
    padding: 0;
  }

  .articleCard-terminus:last-child .articleCard_content {
    margin-bottom: 0;
  }
}

@media (min-width:800px) {
  .articleContainer {
    margin-left: 0;
    margin-right: 0;
  }

  .articleContainer.is-front {
    margin-top: 0;
  }
}
