@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@0;1&display=swap');

html {
  background: #333;
  height: 100%;
  font-family: 'Merriweather', sans-serif;
}

html, body {
  padding: 0;
  margin: 0;
}

.mbxmap {
  position: fixed !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

a {
  color: #ca4747;
}

a:visited {
  color: #ca4747;
}

.articleContainer {
  max-width: 520px;
  margin: 70vh auto 100px 0;
  color: #111;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
}

.articleContent {
  margin: auto;
  padding: 15px;
  background-color: white;
}

.articleContent--introduction {
  margin-bottom: 50px;
}

.articleCard {
  padding: 15px 0;
  position: relative;
}

.articleCard:before {
  content: '';
  left: 15px;
  width: 20px;
  top: 0;
  bottom: 0;
  display: block;
  position: absolute;
  background-color: red;
}

.articleCard-metro:before {
  background-color: #3388ff;
}

.articleCard-foot:before {
  background-color: #5cb83b;
}

.articleCard p:first-child {
  margin-top: 0;
}
.articleCard p:last-child {
  margin-bottom: 0;
}

.articleCard-metro h2 {
  color: #3388ff;
}

.articleCard-foot h2 {
  color: #5cb83b;
}

.articleCard_content {
  background-color: white;
  padding: 15px;
  position: relative;
  border-radius: 10px;
  margin: 0 15px 0 50px;
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
  top: -18px;
  min-height: 35px;
}

.articleCard_station {
  color: white;
  position: relative;
  border-radius: 10px;
  margin: 0 15px 0 50px;
  top: -16px;
}

.articleCard_station h2 {
  color: inherit;
  font-size: 1.3em;
  margin: 0;
  text-shadow: 0 0 4px rgb(0,0,0), 0 0 3px rgb(0,0,0);
}

.articleCard_circleCutoff {
  position: absolute;
  left: 15px;
  bottom: -5px;
}

.articleCard-metro .articleCard_circleCutoff {
  fill: #3388ff;
}

.articleCard-foot .articleCard_circleCutoff{
  fill: #5cb83b;
}

.articleCard_content:before {
  content: '';
  position: absolute;
  top: 3px;
  left: -14px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 17px 17px 17px 0;
  border-color: transparent white transparent transparent;
}

.articleCard-start:before {
  top: 7px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.articleCard-terminus:before {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  bottom: auto;
  height: 27px;
}


.articleCard-start:after,
.articleCard-terminus:after {
  content: '';
  position: absolute;
  border-radius: 10px;
  width: 12px;
  height: 12px;
  top: 11px;
  left: 19px;
  background-color: white;
}

.articleBody {
  margin-bottom: 50px;
  line-height: 1.6;
  position: relative;
}

.articleBody:before {
  content: '';
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: -50px;
  width: 200px;
  background-color: rgba(10,10,10,0.5);
  filter: blur(50px);
}

.articleContent,
.articleCard,
.articleHeader {
  position: relative;
  z-index: 1;
}

.articleBody img {
  display: block;
  max-width: 100%;
}
.articleBody table {
  width: 100%;
  padding: 0 60px;
}
.articleBody table time {
  font-variant-numeric: tabular-nums;
}
.articleBody ul {
  padding-left: 60px;
  padding-top: 0;
}

.articleContainer.is-front {
  margin-top: 10vh;
}

.articleHeader {
  padding: 30px;
  background-color: #ca4747;
  color: white;
}

.articleHeader a {
  color: inherit;
}

.article_title {
  font-weight: 600;
}

.article_spacer {
  height: 100vh;
  position: relative;
}
.article_spacer-p25 { height: 25vh; }
.article_spacer-p5 { height: 50vh; }
.article_spacer-p75 { height: 75vh; }
.article_spacer-2 { height: 200vh; }
.article_spacer-3 { height: 300vh; }
.article_spacer-4 { height: 400vh; }
.article_spacer-5 { height: 500vh; }
.article_spacer-6 { height: 600vh; }
.article_spacer-7 { height: 700vh; }
.article_spacer-8 { height: 800vh; }
.article_spacer-9 { height: 900vh; }
.article_spacer-10 { height: 1000vh; }

.ratings {
  background-color: white;
  padding: 30px 30px 0 30px;
  margin-top: 0;
  margin-bottom: 0;
}

#elevation-plot {
  pointer-events: none;
  position: fixed;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  z-index: 10;
  border-top: 1px solid #888;
}

.elevation-marker {
  position: absolute;
  transform: translate(0,0);
}

.elevation-marker:after {
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: red;
  transform: translate(-50%,-50%);
}

body[data-feature-mode="foot"] #elevation-plot {
  opacity: 1;
}

.axis line,
.axis text {
  color: black;
}
.axis path {
  stroke: black;
}
.grid .tick {
  opacity: 0.1;
}
.grid .domain {
  display: none;
}

#elevation-plot {
  background-color: white;
}

.mapboxgl-ctrl-bottom-left {
  left: 35px !important;
}

@media (max-width:640px) {
  .articleContainer {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width:800px) {
  .articleContainer {
    margin-left: 0;
    margin-right: 0;
  }

  .articleContainer.is-front {
    margin-top: 0;
  }
}
